In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"C:\Users\vivek\OneDrive\Attachments\questionpairs.csv")

df.shape

(404290, 6)

In [5]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
new_df = df.sample(30000)

In [7]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [8]:
new_df.duplicated().sum()

0

In [9]:
ques_df = new_df[['question1' , 'question2']]
ques_df.head()

,question1,question2
183991,How much coffee should I drink per day?,How much coffee is safe to consume per day?
329440,What are some amazing drawings you have seen w...,What are some amazing pictures and drawings wh...
86502,Is there a 'best' deck in Clash Royale?,What are some of the best decks in clash royale?
197083,What is the best way to save energy?,How can I save energy?
46466,What are the strongest majors in terms of job ...,What are the strongest majors in terms of job ...

In [13]:
from sklearn.feature_extraction.text import CountVectorizer


questions = list(df['question1'].astype(str)) + list(df['question2'].astype(str))
cv = CountVectorizer(max_features=3000)
q1_q2_vectors = cv.fit_transform(questions).toarray()
q1_arr, q2_arr = np.split(q1_q2_vectors, 2)

In [14]:
questions = df['question1'].astype(str).tolist() + df['question2'].astype(str).tolist()
cv = CountVectorizer(max_features=3000)
q1_q2_vectors = cv.fit_transform(questions).toarray()
q1_arr, q2_arr = np.split(q1_q2_vectors, 2)

temp_df1 = pd.DataFrame(q1_arr, index=df.index)
temp_df2 = pd.DataFrame(q2_arr, index=df.index)
temp_df = pd.concat((temp_df1, temp_df2), axis=1)
temp_df.shape

MemoryError: Unable to allocate 18.1 GiB for an array with shape (808580, 3000) and data type int64

In [21]:
temp-df['is_duplicate'] = new_df['is_duplicate']
temp_df.shape

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (130480707.py, line 1)

In [22]:
temp_df

NameError: name 'temp_df' is not defined

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=2)

NameError: name 'temp_df' is not defined

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf= RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

NameError: name 'X_train' is not defined

In [25]:
from xgboost import xgbClassifier
xgb = XGBClassifier()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

ModuleNotFoundError: No module named 'xgboost'